* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis";
}

.genericBtn {
    position: relative;
    border-radius: 20px;
    border: 1px solid #a0b743;
    background-color: #a0b743;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
}
  
.genericBtn:active {
    transform: scale(0.95);
}

/* HEADER */
header {
    background-color: #103231;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 100%;
    margin-left: 50px;
    padding: 10px;
}

header .logo img {
    height: 100%;
}

header .backButton {
    background-color: transparent;
    border: 3px solid #a0b743;
    border-radius: 30px;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px; 
    height: 40px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #a0b743;
    cursor: pointer;
}

header .backButton i {
    font-size: 18px;
    margin-right: 5px;
    margin-top: 3px;
}

header .backButton:hover {
    border: none;
    background-color: #a0b743;
    color: #103231;
}

/* ------------- LOGIN ADMIN FORM ------------- */

.mainAdminLogin {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLoginForm {
    background-image: url("../visual/img/loginImg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 220%;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    height: 70%;
    width: 50%; 
}

.loginForm {
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}

.loginForm h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 40px;
    color: #103231;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

.loginForm form input {
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.loginForm .socialForm {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.loginForm .socialForm i {
    font-size: 20px;
    color: #a0b743;
}

.loginForm .socialForm i:hover {
    transform: scale(1.20);
    color: #dbe3bc;
}

/* ------------- ADMIN - PRODUCT FORM ------------- */

.mainNewProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.newProductForm {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newProductForm h1 {
    font-size: 34px;
}

.productForm {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 10px;
}

.productForm label {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.productForm label h3 {
    margin: 5px;
}

.productForm .productCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.productForm label input {
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
}

.productForm label select {
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    color: grey;
}

.productForm label select option {
    color: black;
}

.productForm .newProductBtn {
    margin-top: 20px;
}

.containerList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.scrollItems {
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 90%;
    height: 80%;
    padding: 15px 15px;
}

.productList::-webkit-scrollbar {
    width: 8px;
    
}

.productList::-webkit-scrollbar-thumb {
    background-color: #a0b743;
    border-radius: 8px;
    
}

.scrollItems .productList {
    overflow: auto;
    height: 100%;
    width: 100%;
    
}

.scrollItems .productList .prodItem {
    display: flex;
    height: 35px;
    margin: 10px 0;
}

.scrollItems .productList .prodItem div {
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
    margin: 0 3px;
}

.scrollItems .productList .prodItem .idSlot {
    width: 30px;    
    justify-content: center;
    
}

.scrollItems .productList .prodItem .nameSlot {
    width: 330px;
}

.scrollItems .productList .prodItem .brandSlot, .typeSlot {
    width:  120px;
    justify-content: center;
}

.scrollItems .productList .prodItem .priceSlot {
    width: 90px;
    justify-content: center;
}

.scrollItems .productList .prodItem .stockSlot {
    width: 50px;
    justify-content: center;
}

.scrollItems .productList .prodItem .imgSlot {
    width: auto;
    padding: 0;
}

.scrollItems .productList .prodItem .imgSlot .copyLinkBtn {
    border: none;
    background-color: #a0b743;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 60px;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.scrollItems .productList .prodItem .imgSlot .copyLinkBtn:active {
    transform: scale(0.95);
}

.scrollItems .productList .prodItem .btnSlot {
    background-color: transparent;
    width: 60px;
    display: flex;
    margin-left: 15px;
    padding: 0;
}

.scrollItems .productList .prodItem .btnSlot button {
    border: none;
    background-color: transparent;
    margin: 0 5px;
}

.scrollItems .productList .prodItem .btnSlot i {
    font-size: 20px;
    color: #a0b743;
}

.scrollItems .productList .prodItem .btnSlot i:hover {
    color: #dbe3bc;
}

/* MODAL */
.containerModal {
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);    
    width: 30%;
    height: 77%;
    padding: 15px 15px;

}
 .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .modal .modalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modal .modalButtons button {
    position: relative;
    border-radius: 20px;
    border: 1px solid #a0b743;
    background-color: #a0b743;
    width: 150px;;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 0 ;
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
 }

 .modal .modalButtons button:active {
    transform: scale(0.95);
 }
  
 